@import "tailwindcss";

:root {
  --background: #171717;
}

body {
  background: var(--background);
  font-family: 'Cabin' !important;
}

.containers{ 
  border-radius: 20px;
  background: #262722;
}






/* - - - - - - - - - - FONTS - - - - - - - - - - */
@font-face {
  font-family: 'Cabin';
  src: url(/public/fonts/Commissioner-Regular.ttf) format('truetype');
}